.registration-form {
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.registration-form-name-mail-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.registration-form-username {
  width: max-content;
}

.registration-form-displayname-wrapper {
  display: flex;
}

.registration-form-mail-wrapper {
  display: flex;
  width: max-content;
  flex-direction: row;
}

.registration-form-mail-input {
  width: max-content;

  /* display: flex; */

  /* flex-grow: 1; */
}

.registration-form-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registration-form-gender-wrapper {
}

.registration-form-gender-info {
}

.register-form-being-wrapper {
  margin: 1em;
}

.registration-form-being-info {
}

.register-form-default-post-mode-wrapper {
  margin-bottom: 1em;
}

.registration-form-default-post-mode-info {
}

.register-form-follow-approval-wrapper {
  margin-bottom: 0.5em;
}

.register-form-indexable-wrapper {
  margin-bottom: 0.5em;
}

.register-form-custom-fields-wrapper {
  flex-grow: 1;
  width: 80%;
  margin-bottom: 1em;
}
