.mail-entry {
  display: flex;
  flex-direction: row;
}

.mail-input {
  outline: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mail-input-ok {
  border: 1px solid green;
  box-shadow: 0 0 5px green;
}

.mail-input-error {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

.mail-status {
  /* margin: 0; */
  margin-top: 0.75em;
  margin-left: 0.4em;
}

.mail-ok {
  color: green;

  /* margin-top: -0.25lh; */

  /* margin-bottom: -0.28lh; */
  font-size: 0.9lh;
  margin: 0;
  margin-left: 0.2em;
}

.mail-error {
  color: red;
  margin-bottom: 0;
  margin-left: 0.6em;
}
