<div class="auth-wrapper">
  <div class="auth-username-wrapper">
  <label>
    Username
    <Input
      @type="text"
      @value={{this.username}}
      placeholder="Username"
    />
  </label>
  </div>
  <div type="button" class="auth-button-login" {{on "click" this.startLogin}}>
    Login
  </div>
  <div type="button" class="auth-button-register" {{on "click" this.startRegistration}}>
    Register
  </div>
</div>