<div class="note">
  {{!-- TODO: figure out how to make the entire note clickable for opening with something like {{on "click" (fn this.openFullView)}} --}}
  <Note::UserHeader
    @displayname="{{@note.displayname}}"
    @handle="@{{@note.username}}@{{@note.server}}"
    @server="{{@note.servertype}}"
  />
  <Note::Content @content="{{@note.content}}" />
  <div class="note-timestamps-container">
    {{#if @note.editedAt}}
    <p class="note-timestamp" id="note-edited-timestamp">Edited: {{moment-format @note.editedAt "MMM DD, YYYY H:mm"}}</p>
    {{/if}}
    <p class="note-timestamp" id="note-created-timestamp">Posted: {{moment-format @note.createdAt "MMM DD, YYYY H:mm"}}</p>
  </div>
  {{!--<div class="separator-horizontal" />--}}
  {{!-- TODO: Hardcoded values here, make them dynamic --}}
  <Note::Interactions @boostCount="25" @totalLikeCount="300" @hasBoosted="true" @hasReacted="false" />
</div>