<div class="account-header">
  <Account::Header::Profilepicture @meta={{@data.icon}} />
  <div class="account-header-">

  </div>
</div>
<div class="account-header">
  <Account::Header::Profilepicture @meta={{@data.icon}} />
  <div class="account-header-text">
    <Note::Formatter
      @classes="note-user-displayname"
      @content={{@data.displayname}}
      @server={{@data.originServer}}
    />
    <p class="note-user-displayname"></p>
    <p class="note-user-handle">{{@data.originServer.id}}</p>
  </div>
</div>