<div class="{{@classes}}">
  {{#if (equals @server "mastodon")}}
    <Note::Formatter::Mastodon>{{@content}}Masto</Note::Formatter::Mastodon>
  {{else if (equals @server "misskey")}}
    <Note::Formatter::Misskey>{{@content}}Misskey</Note::Formatter::Misskey>
  {{else if (equals @server "akoma")}}
    <Note::Formatter::Akoma>{{@content}}Akoma</Note::Formatter::Akoma>
  {{else if (equals @server "linstrom")}}
    <Note::Formatter::Linstrom>{{@content}}Linstrom</Note::Formatter::Linstrom>
  {{else if (equals @server "wafrn")}}
    <Note::Formatter::Wafrn>{{@content}}Wafrn</Note::Formatter::Wafrn>
  {{else}}
    <Note::Formatter::Linstrom
    >{{@content}}Unkown:{{@server}}</Note::Formatter::Linstrom>
  {{/if}}
</div>