<div class="mail-entry {{@wrapper-classes}}">
  <label>
    Email
    {{!--<div class="filling-spacer"/>--}}
    <Input
      class="mail-input {{if this.mailOk "mail-input-ok" "mail-input-error"}} {{@input-classes}}"
      @type="text"
      @value={{this.args.data.mail}}
      placeholder="Email address"
      {{on "change" this.checkMail}}
    />
  </label>
  {{#if this.mailOk}}
    <p class="mail-ok mail-status">&#10004;</p>
  {{else}}
    <p class="mail-error mail-status">X</p>
  {{/if}}
</div>