<div class="{{@wrapper-class}}">
  {{#if @readonly}}
    <p class="{{@element-classes}}">{{@selected}}</p>
  {{else}}
    {{#each @elements as |element index|}}
      <RadioButton
        @value="{{element}}"
        @groupValue={{@selected}}
        @name={{@name}}
        @required={{@required}}
      >
        {{element}}
      </RadioButton>
    {{/each}}
  {{/if}}
</div>