<div class="{{@wrapper-classes}}">
  {{#if @readonly}}
    <ul>
      {{#each this.args.list as |element|}}
        <p class="{{@readonly-element-classes}}">{{element.value}}</p>
      {{/each}}
    </ul>
  {{else}}
  <ul>
    {{#each this.args.list as |element index|}}
      <li>
        <div class="string-array-element-wrapper {{@element-wrapper-classes}}">
          <Input
            class="{{@element-classes}}"
            @type="text"
            @value={{element.value}}
          />
          <div
            class="{{@remove-element-classes}}"
            type="button"
            {{on "click" (fn this.removeElement index)}}
          >
            X
          </div>
        </div>
      </li>
    {{/each}}

  </ul>
  <div
    class="{{@add-element-classes}}"
    type="button"
    {{on "click" this.addElement}}
  >
    Add element
  </div>
  {{/if}}
</div>