<div class="login-wrapper">
  <label>
    <Input
      @type="text"
      @value={{this.username}}
      placeholder="Username"
    />
  </label>
  <div type="button" class="login-start-button" {{on "click" this.onLoginStart}}>
    Login
  </div>
</div>