<div class="note-content">
  <p class="note-content-text">{{this.visibleContent}}</p>
  {{#if this.canExpand}}
  {{#if this.collapsed}}
    <div
      type="button"
      class="note-content-toggle"
      {{on "click" this.expand}}
    >{{t "note.expand"}}</div>
  {{else}}
    <div
      type="button"
      class="note-content-toggle"
      {{on "click" this.collapse}}
      >{{t "note.collapse"}}</div>
  {{/if}}

  {{/if}}
  </div>