<div class="note-user-header">
  <div class="note-user-pfp">
    <p>Pfp</p>
  </div>
  <div class="note-user-name-and-handle">
    <p class="note-user-displayname">{{@displayname}}:{{@server}}</p>
    <!--<Util::Formatter @classes="note-user-displayname" @content={{@displayname}} @server={{@server}}/>-->
    <p class="note-user-displayname"></p>
    <p class="note-user-handle">{{@handle}}</p>
  </div>
</div>