/* Copied from: https://github.com/Vjecni/OpenDyslexic-Font/blob/main/opendyslexic.css */
@font-face {
  font-family: OpenDyslexic;
  src: url("/assets/fonts/OpenDyslexic-Regular.eot");
  src:
    url("/assets/fonts/OpenDyslexic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("/assets/fonts/OpenDyslexic-Regular.woff") format("woff"),
    url("/assets/fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-size: 0.8em;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("/assets/fonts/OpenDyslexic-Bold.eot");
  src:
    url("/assets/fonts/OpenDyslexic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/OpenDyslexic-Bold.woff2") format("woff2"),
    url("/assets/fonts/OpenDyslexic-Bold.woff") format("woff"),
    url("/assets/fonts/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("/assets/fonts/OpenDyslexic-Italic.eot");
  src:
    url("/assets/fonts/OpenDyslexic-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/OpenDyslexic-Italic.woff2") format("woff2"),
    url("/assets/fonts/OpenDyslexic-Italic.woff") format("woff"),
    url("/assets/fonts/OpenDyslexic-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("/assets/fonts/OpenDyslexic-BoldItalic.eot");
  src:
    url("/assets/fonts/OpenDyslexic-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/OpenDyslexic-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/OpenDyslexic-BoldItalic.woff") format("woff"),
    url("/assets/fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: OpenDyslexic, sans-serif;
}

/* Apply OpenDyslexic Bold font to h1, h2, and h3 */
h1,
h2,
h3 {
  font-family: OpenDyslexic, sans-serif;
  font-weight: bold;
}

/* Apply OpenDyslexic Normal weight to p, span, a, label, and li */
p,
span,
a,
label,
li {
  font-family: OpenDyslexic, sans-serif;
  font-weight: normal;
}

/* Apply OpenDyslexic Light weight to input, textarea, and button */
input,
textarea,
button {
  font-family: OpenDyslexic, sans-serif;
  font-weight: 300; /* Light weight */
}
