.note {
  display: flex;
  flex-direction: column;

  /* width: fit-content; */
  height: fit-content;

  /* align-items: center; */

  /* max-width: 50em; */
  padding: 0.5em;
  background-color: var(--background-100);
  color: var(--text);
  border-radius: 1em;
}

.note-user-header {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: fit-content;
  padding-right: 0.5em;
}

.note-user-pfp {
  width: 3em;
  height: 3em;
  padding-bottom: 0.1em;
  text-align: center;
}

.note-user-name-and-handle {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  padding: 0.2em;
}

.note-user-displayname {
  padding-top: 0.1em;
  margin: 0.1em;
}

.note-user-handle {
  font-size: 0.8em;
  color: #555;
  margin: 0;
}

.note-timestamps-container {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.note-timestamp {
  font-size: 0.8em;
  margin: -0.1em;
  color: var(--text-700);
}

.note-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.note-content-text {
  margin-top: -0.08em;
  margin-bottom: -0.08em;
  padding: 0.2em;
}

.note-content-toggle {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  cursor: pointer;
  background-color: var(--secondary-300);
  padding: 0.1em 0.3em;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.note-content-toggle:hover {
  background-color: var(--secondary-200);
}

.note-interactions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--text-300);
  padding-top: 0.5em;
}

.note-interactions-interaction-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #aaa;
  padding-left: 0.6em;

  /* padding-right: 0.6em; */
  border-radius: 8px;
  margin-right: 0.7em;
  cursor: pointer;
}

.note-interactions-interaction-icon {
  height: 2.5ex;
  padding-right: 0.2em;
  width: 100%;
}

.note-interactions-interaction-counter {
  font-weight: bold;
  padding: 0.3em;
  margin-top: -0.01em;
  margin-bottom: -0.01em;
  margin-right: 0.2em;
}

.note-interactions-interactions-button-like {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note-interactions-interactions-button-custom {
  align-items: center;
  border-left: 1px black solid;
  padding-top: 0.5em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
