.hide {
  display: none;
}

/* Copied from: https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */ /* Safari */ /* Konqueror HTML */ /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.separator-horizontal {
  width: 100%;
  border: 1px solid black;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.filling-spacer {
  flex-grow: 1;
}
