<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New user request</title>
  <link href="{{ .Domain }}/static/css/NewUserRequest.css" rel="stylesheet" />
</head>

<body>
  <h1>New account request</h1>
  <p>New user is awaiting account approval</p>
  <h3>Information</h3>
  <ul>
    <li>Account name: {{ .Username }}</li>
    <li>Account mail: {{ .MailAddress }}</li>
  </ul>
  <h4>Request reason</h4>
  <p>{{ .Reason }}</p>
</body>

</html>
